*{
    margin: 0; box-sizing: border-box;
}
p{
    font-size: 1rem;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
background-color: aliceblue;
}
body{
    background-color:rgb(247, 238, 255);
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(183, 125, 189);
    column-gap: 5px;
    padding: 10px;
    justify-content: space-between;
}
.nav-item{
    background-color:rgb(223, 212, 150);
}
.nav-item-container{
    display: flex;
    column-gap: 5px;
}
footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
}